<% if logged_in? %>
    <script>
        window.currentUser = <%= render partial: "api/users/user",
            formats: [:json],
            handlers: [:jbuilder],
            locals: { user: current_user } %>
    </script>
<% end %>
<div id="root">
</div>