.notes-index-container {
    max-width: 346px;
    min-width: 346px;
    display: flex;
    flex-direction: column;
    border-right: 1px solid #e6e6e6;
    background-color: #f8f8f8;
    overflow: scroll;
}

.notes-index-header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 136px;
    border-bottom: 1px solid #ededed;
    padding: 33px 18px 30px 25px;
   
}

.notes-index-header h1 {
    font-size: 20px;
}
.notes-index-header h3 {
    font-size: 13px;
    color: #a6a6a6;
}

.notes-index-list-container {
    overflow: scroll;
}

.notes-index-list-container ul li a {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 120px;
    border-bottom: 1px solid #ededed;
    padding: 15px 25px;
    box-sizing: border-box;
}

.notes-index-list-container ul li a {
    text-decoration: none;
}

.notes-index-list-container ul li:hover {
    background-color: #f2f2f2;
}

.notes-index-container ul li a h2 {
    margin-bottom: 2px;
    color: #4d4d4d;
}
.notes-index-container ul li a p {
    color: #4d4d4d;
    font-size: 13px;
    font-weight: lighter;
    word-wrap: break-word;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.notes-index-container ul li a div {
    font-size: 13px;
    color: #a6a6a6;
}
