.quill-container {
    width: 100%;
    overflow: hidden;
    border: none;
    display: flex;
    flex-direction: column;
    padding-top: 20px;
}

.quill {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    padding: 0px 28px;
}

.ql-toolbar, .ql-container {
    border: none !important;
}


#quill-body {
    max-height: 100%;
    border:none;
    padding-left: 30px;
}

#note-title-field {
    height: 63px;
    font-size: 34px;
    border: none;
    padding-left: 42px;
    font-family: 'Roboto', sans-serif;
}

#note-title-field:focus {
    outline: none;
}

.ql-toolbar {
    opacity: 0;
    transition: .5s opacity;
}

.ql-toolbar-show {
    opacity: 100;
    transition: .5s opacity;
}

.ql-editor {
    font-family: 'Roboto', sans-serif;
}

.ql-editor strong{
     font-weight:bold;
 }

 .ql-editor emphasize {
    font-style: italic;
 }

