#splash-page {
    width: 100%;
    height: 100%;
}

.splash-width {
    min-width: 600px;
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
}

.landing-nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 130px;
    background-color: white;
}

#nav-title {
    display: flex;
    align-items: center;
    
}

#nav-links {
    
    font-family: 'PT Sans', sans-serif;
    
}

#nav-title img {
    width: 65px;
    height: 65px;
}

#nav-title h1 {
    font-size: 30px;
    font-weight: bold;
    font-family: 'Playfair Display', serif;
    margin-left: -10px;
}



#nav-links * {
    margin: 6px;
}

#log-in-button {
    text-decoration: none;
    color: #00a82d;
    border: 2px solid #00a82d;
    padding: 9px 37px;
    border-radius: 3px;
    font-size: 15px;
    font-weight: bold;
}

#sign-up-button {
    text-decoration: none;
    color: #00a82d;
    font-size: 16px;
    
}

#splash-body {
    background-image: image-url('main-green.png');
    background-color: #00a82d;
    
    padding: 110px 0 0 0;
    height: 617px;
    box-sizing: border-box;
    overflow: scroll;
}


#splash-body-left {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    letter-spacing: 1px;

}

#splash-body-right {
    width: calc(100% - 500px);
    max-width: 500px;
    height: auto;
}

#splash-body-left * {
    margin: 10px 0px;
}

#splash-body-left h1 {
    color: white;
    font-size: 50px;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    line-height: 65px;
}

#splash-body-left h2 {
    color: white;
    font-size: 23px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    word-spacing: 3px;
    line-height: 40px;
    padding: 10px 0;
}

#splash-body-left a {
    text-align: center;
    text-decoration: none;
    background-color: white;
    width: 240px;
    color: #00a82d;
    border-radius: 3px;
    padding: 20px 10px;
    font-family: 'PT Sans', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
}

.splash-footer {
    height: 140px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    border-bottom: 1px solid #d0d0d0;
}

#splash-footer-line {
    margin: 0 auto;
    width: 90%;
}

#splash-footer * {
    padding: 6px;
}


