#splash-page {
    background-image: image-url('main-green.png');
    background-color: #00a82d;
    width: 100%;
    height: 100%;
}

.landing-nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 130px;
    // width: 100%;
    padding-left: 140px;
    padding-right: 140px;
    background-color: white;
}

#nav-title {
    display: flex;
    align-items: center;
    padding-left: 5%;
}

#nav-title img {
    width: 75px;
    height: 75px;
}

#nav-title h1 {
    font-size: 30px;
    font-weight: bold;
    font-family: 'Playfair Display', serif;
}

#nav-links {
    padding: 5%;
    font-family: 'PT Sans', sans-serif;
}

#nav-links * {
    margin: 6px;
}

#log-in-button {
    text-decoration: none;
    color: #00a82d;
    border: 2px solid #00a82d;
    padding: 9px 37px;
    border-radius: 3px;
    font-size: 15px;
    font-weight: bold;
}

#sign-up-button {
    text-decoration: none;
    color: #00a82d;
    font-size: 16px;
    
}

#splash-body {
    display: flex;
    justify-content: space-around;
    margin: 50px;
}

#splash-body-left, #splash-body-right {
    padding: 10px;
}

#splash-body-left {
    display: flex;
    flex-direction: column;
    width: 500px;
    letter-spacing: 1px;
    
}

#splash-body-left * {
    margin: 10px 0px;
}

#splash-body-left h1 {
    color: white;
    font-size: 50px;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
}

#splash-body-left h2 {
    color: white;
    font-size: 23px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    word-spacing: 3px;
    line-height: 40px;
}

